<div id="<%= dom_id vic %>">
  <p>
    <strong>Title:</strong>
    <%= vic.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= vic.name %>
  </p>

  <p>
    <strong>About:</strong>
    <%= vic.about %>
  </p>

</div>
