<p style="color: green"><%= notice %></p>

<h1>Vics</h1>

<div id="vics">
  <% @vics.each do |vic| %>
    <%= render vic %>
    <p>
      <%= link_to "Show this vic", vic %>
    </p>
  <% end %>
</div>

<%= link_to "New vic", new_vic_path %>
