<div class="edit-container">
<h1>Editing Comic</h1>

<%= render "form", comic: @comic %>

<br>

<div class="edit-btn">
  <%= link_to "Show this comic", @comic %> |
  <%= link_to "Back to comics", comics_path %>
</div>
<div>