<h1>HEY HEY HEY</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Body</th>
    </tr>

  </thead>

  <tbody>
    <% @comic.each do |comic| %>
    <tr>
      <td><%= comic.id %> </td>
      <td><%= comic.name %> </td>
      <td><%= comic.body %> </td>
    </tr>
    <% end %>
  </tbody>
  </table>
