<h1>Show comic</h1>

<%= render @comic %>

<div class="show-btn">
  <%= link_to "Edit this comic", comic_edit_path  %> 
  <%= link_to "Back to comics", comics_path %>

  
  <%= button_to "Destroy this blog app", @blog_app, method: :delete %>
</div>
