/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #aaa;
}

p {
  font-size: 2rem;
  margin: 1rem 0;
}

a:visited,
a:link {
  color: white;
  text-decoration: none;
  background-color: black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: 2rem;
}

button {
  margin-top: 1rem;
}

form {
  padding: 2rem;
}

label,
input {
  font-size: 2rem;
}

input {
  height: 3rem;
  width: 30rem;
}
.title {
  color: blue;
  font-size: 4rem;
  margin-bottom: 1rem;
}

#blog_apps {
  background-color: #555;
  padding: 0.5rem 2rem;
  font-size: 2rem;
  margin-bottom: 2rem;
  /* display: flex;
  align-items: center;
  gap: 2rem; */
}

a:nth-child(3) {
  margin-left: 1rem;
}

table {
  padding: 5rem;
}

th {
  font-size: 2rem;
}

tr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 3rem;
}

td {
  font-size: 2rem;
}

tr th, tr td {
  margin-bottom: 1rem;
}


.edit-div, input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submit-btn-container {
  margin-top: 3rem;
}

.submit-btn-container input {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;
}

.blog-img {
  width: 100vw;
  height: 10vh;
}