<div id="<%= dom_id blog_app %>">
  <p>
    <strong>Title:</strong>
    <%= blog_app.title %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= blog_app.name %>
  </p>

  <p>
    <strong>About:</strong>
    <%= blog_app.about %>
  </p>

</div>
